:root {
	/* Colors */
	--editor-background: #d5a76f;
	--hover-red: hsla(351, 73%, 43%, 0.5);
	--base-red: #be1e36;
	--base-black: #231F20;
	--red: #b90d49;
	--green: #025e30;
	--checkbox-green: #32b976;
	--blue: #005a70;
	--orange: #ad4200;
	--purple: #5c2d7e;
	--dark-blue: #2e4363;
	--highlighter-color: hsla(35, 65%, 55%, 0.8);
	--ayah-callout-color: 173, 66, 0;
	--hadith-callout-color: 173, 66, 0;

	/* Cursor */
	--custom-cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="rgb(45,65,100)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-text-cursor"><path d="M17 22h-1a4 4 0 0 1-4-4V6a4 4 0 0 1 4-4h1"/><path d="M7 22h1a4 4 0 0 0 4-4v-1"/><path d="M7 2h1a4 4 0 0 1 4 4v1"/></svg>') 10 10, text;
}

/* Editor Text Area */
.view-content > .markdown-source-view.mod-cm6 > .cm-editor > .cm-scroller {
	background-color: var(--editor-background);
	color: #131111;
	font-family: "Almarai";
	cursor: var(--custom-cursor);
	--file-line-width: 710px; /*Readable line length*/
}
/* Caret Color */
.markdown-source-view.mod-cm6 .cm-content {
	caret-color: var(--color-accent);
}
.cm-s-obsidian .cm-cursor, .cm-s-obsidian .cm-dropCursor {
	border-left: 2px solid var(--color-accent);
	margin-left: -1px;
}

/* Note Title */
.cm-sizer .inline-title {
	font-family: "Kalligraaf";
	margin: 0 50px 50px;
	text-align: center;
	font-weight: 400;
	color: var(--base-red);
}
.is-mobile .cm-sizer .inline-title {
	margin: 0 0 50px;
	line-height: 1.3;
}

/* Headers */
.HyperMD-header .cm-header-1, .HyperMD-header .cm-header-2, .HyperMD-header .cm-header-3, .HyperMD-header .cm-header-4, .HyperMD-header .cm-header-5, .HyperMD-header .cm-header-6 {
	/* padding-right: 20px; */
	font-family: "Tajawal";
	font-weight: bold;
}
.HyperMD-header .cm-header-1 {
	color: var(--red);
	text-decoration: underline;
}
.HyperMD-header .cm-header-2 {
	color: var(--green);
}
.HyperMD-header .cm-header-3 {
	color: var(--blue);
}
.HyperMD-header .cm-header-4 {
	color: var(--orange);
}
.HyperMD-header .cm-header-5 {
	color: var(--purple);
}
.HyperMD-header .cm-header-6 {
	color: var(--dark-blue);
}
.markdown-source-view.mod-cm6 .HyperMD-header:hover > .cm-fold-indicator .collapse-indicator,
.markdown-source-view.mod-cm6 .HyperMD-header > .cm-fold-indicator.is-collapsed .collapse-indicator {
	display: none;
}

/* Horizontal Rule */
.markdown-source-view.mod-cm6 hr {
	border-color: hsla(345, 6%, 13%, 0.7);
}
.cm-hr {
	color: var(--base-black);
}

/* Highlighter */
.cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight {
	background-color: var(--highlighter-color);
	color: var(--base-black);
	padding: 3px 5px 5px;
	border-radius: 20px;
}

/* Outliner Highlight */
.is-flashing {
	mix-blend-mode: inherit;
	color: var(--base-black);
}

/* Indentation Guides */
.markdown-source-view.mod-cm6 .cm-indent::before {
	border-right: 2px solid var(--list-marker-color);
}
.markdown-source-view.mod-cm6 .cm-active-indent::before {
	border-right: 2px solid var(--base-red);
}

/* Lists */
.cm-s-obsidian .cm-formatting-list {
	color: var(--dark-blue);
}
.list-bullet:after {
	background-color: var(--dark-blue);
}
.list-collapse-indicator:hover ~ .list-bullet:after, .cm-fold-indicator:hover ~ .list-bullet:after, .list-collapse-indicator:hover ~ .cm-formatting-list .list-bullet:after, .cm-fold-indicator:hover ~ .cm-formatting-list .list-bullet:after {
    background-color: var(--list-marker-color-hover);
    box-shadow: 0 0 0 4px var(--hover-red);
}
.HyperMD-list-line:not(.HyperMD-list-line-1) + .HyperMD-list-line-1,
.mod-cm6 .HyperMD-list-line-1 + .HyperMD-list-line-1:has(+ .HyperMD-list-line-2),
.cm-embed-block.cm-callout + .HyperMD-list-line {
	padding-top: 10px;
}

/* Images */
.internal-embed img {
	border-radius: 13px;
	border: 1px solid var(--base-black);
	margin-top: 5px;
}

/* Checkbox */
input[type=checkbox] {
    border-radius: 7px;
    border: 2px solid var(--dark-blue);
    transition: box-shadow 0.15s ease-in-out;
}
input[type=checkbox]:hover {
	border-color: var(--green);
}
input[type=checkbox]:checked {
    background-color: var(--checkbox-green);
    border-color: var(--checkbox-green)
}
input[type=checkbox]:checked:after {
    background-color: var(--dark-blue);
}
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"], .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] {
    text-decoration: var(--checklist-done-decoration);
    color: var(--dark-blue);
}
input[type=checkbox]:checked:hover {
    background-color: var(--checkbox-green);
    border-color: var(--green);
}

/* Iframe */
iframe {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); 
	border-radius: 10px;
}
.cm-qualifier, .cm-string, .cm-string-2 {
	color: var(--dark-blue);
}
.cm-tag {
	color: var(--base-red);
}
.cm-attribute {
	color: var(--green);
}

/* Links */
.cm-s-obsidian span.cm-url,
.cm-s-obsidian span.cm-url:hover {
	color: var(--dark-blue);
}
.markdown-source-view.mod-cm6 .is-unresolved {
	color: darkslategray;
}
.cm-s-obsidian span.cm-footref, .cm-s-obsidian span.cm-blockid {
	color: var(--base-red);
}
.cm-s-obsidian span.cm-hmd-internal-link,
.cm-s-obsidian span.cm-hmd-internal-link:hover,
.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-link:hover,
.markdown-source-view.mod-cm6 .cm-link .cm-underline:hover,
.markdown-source-view.mod-cm6 .cm-url .cm-underline:hover,
.markdown-source-view.mod-cm6 .cm-link:hover,
.markdown-source-view.mod-cm6 .is-unresolved:hover {
	color: var(--red);
}

/* Focus active line */
body .cm-active::before,
body .cm-active.HyperMD-quote::before {
  content: '';
  height: 100%;
  position: absolute;
  right: -0.7em;
  border-left: 3px solid var(--color-accent);
  border-radius: 10px 10px 0 0;
  opacity: 0.85;
}

/* Callouts */
.markdown-source-view.mod-cm6 .cm-embed-block {
	padding-top: 10px;
}
.markdown-source-view.mod-cm6 .cm-embed-block:has(.callout):hover {
	box-shadow: none;
	cursor: inherit;
}
.markdown-source-view.mod-cm6 .cm-embed-block:has(.callout) svg {
	display: none;
}
.callout .callout-content p mark {
	background-color: unset;
	font-weight: bold;
}
.callout {
	border: solid var(--orange) 1px;
	border-radius: 13px;
	font-size: 23px;
}
.callout[data-callout="ayah"] .callout-title,
.callout[data-callout="hadith"] .callout-title {
	display: none;
}
.callout[data-callout="ayah"] .callout-content p mark,
.callout[data-callout="hadith"] .callout-content p mark {
	color: var(--base-red);
}
/* Ayah */
.callout[data-callout="ayah"] {
	--callout-color: var(--ayah-callout-color);
	font-family: "KFGQPC HAFS Uthmanic Script";
}
/* Hadith */
.callout[data-callout="hadith"] {
	--callout-color: var(--hadith-callout-color);
	font-family: "Lotus Linotype";
}
.callout[data-callout="hadith"] .callout-content em {
	font-style: unset;
	background-color: var(--highlighter-color);
}
.callout[data-callout="hadith"] .callout-content hr {
	border-color: hsla(25, 100%, 35%, 0.5);
}
.callout[data-callout="hadith"] .callout-content hr ~ ul,
.callout[data-callout="hadith"] .callout-content ul li::marker {
	color: hsla(0, 0%, 0%, 0.7);
}
.callout[data-callout="hadith"] .callout-content hr ~ ul {
	font-weight: bold;
	font-size: 18px;
	padding-inline-start: 20px;
}
.callout[data-callout="hadith"] .callout-content ul li::marker {
	font-size: 13px;
}

/* Frontmatter cssClasses */
.is-ltr .cm-editor {
    direction: ltr;
}
.is-ltr.markdown-source-view.mod-cm6 > .cm-editor > .cm-scroller {
	font-family: "FiraCode Nerd Font";
}
