/* Hide vault's name */
.nav-folder.mod-root > .nav-folder-title {
	display: none;
} 

/* Add margin top to the next container */
.nav-folder.mod-root > .nav-folder-children {
	margin-top: 10px;
}

/* Hide status bar */
.status-bar {
	display: none;
}

/* Hide donation sections from plugins */
.vertical-tab-content-container .setting-item.setting-donate,
.vertical-tab-content-container .setting-item:has( .setting-item-control img[alt="Buy Me a Coffee at ko-fi.com"]),
.vertical-tab-content-container .setting-item:has( .setting-item-control img[alt="Buy Me a Coffee at ko-fi.com"]) ~ div[align="center"] {
	display: none;
}
